
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(55, 52, 52, 0.255);
  font: 13px Helvetica, Arial;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}

form button {
  width: 9%;
  background: rgb(108, 109, 109);
  border: none;
  padding: 10px;
  cursor: pointer;
}

#messages {
  list-style-type: none;
  margin: 1%;
  margin-bottom: 4%;
  padding: 0;
  
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: rgb(75, 74, 74);
  color: white
}